@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0px
}
.navbar{
  height: 80px
}
.container-thanhtoan{
  display: block;
  height: 1000px;
  margin: 0px
}
#img-thanhtoan{
  width: 100%;
  height: 1000px;
  opacity: 0.3
}
.TieuDe{
  width: 100%;
  /* margin: auto;
  padding-left: 30%; */
  text-align: center;
  margin-top: 6%;
}
/* css phan js tang giam so luong sp */


/* #giam,#tang{
  display: block;
  height: 20px;
  width: 40px;
} */
#giam{

}
#thanhtoan-tanggiam>button{
  height: 33px;
  width: 30px;
  background: none;
  border:none;
  font-size: 15px;
}
.thanhtoan-chonsize{
  width: 100%;
  height:33px;
  background: none;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
}



#thanhtoan-chonsize>option{
  display: block;

  font-size: 15px;
}
.none{
  cursor: not-allowed;
  background-color: grey;
}
.thanhtoan-informationgrap{
  display: flex;
  width: 100%;
  height: auto;
  position: absolute;
  top: 200px
}
.input-group>h5{
  display: block;
  margin: auto;
  width: 45%;
}
.forminpt{
  width: 55%;
  /* border-radius: 10px;
  margin-left: 5px;
  padding-left: 10px;
  background-color: none */
}

.thanhtoan-form-nhap{
  display: block;
  width: 50%;
  padding-left : 15%;
  margin-right: 5px;
  padding-top: 50px;
}
.input-group.mb-3{
  margin-top: 20px;
}
/* css Phương thức thanh toán */
.thanhtoan-phuongThucThanhToan{
  display: block;
  width: 100%;
  margin-right: 5px;
  padding-top: 10px;
  background-color: #ececec;
  border: 0.2px solid grey;
  border-radius: 20px;
  padding-bottom: 20px;
}
.thanhtoan-phuongThucThanhToan-container{
  display: block;
  box-sizing: border-box;
  width: 95%;
  margin: auto;
  height: auto;

}
#thanhToanNganHang{
  display: none;
}


/* CSS sảnt phamr trong gio hang */
.thanhtoan-thongtin-sanpham{
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 40%;
  height: 778.6px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 15%;
  border-radius: 5%;
  border: 2px solid;
}
.thanhtoan-thongtin-sanpham-sanphammua-contianer{
  display: block;
  margin-top: 10px;
  margin-right: 5px;
  width: 98%;
  height: 300px;
  overflow-y: scroll;
}
-webkit-csrollbar{
  width: 10px;
  background-color: black
}
#hihihi::-webkit-scrollbar{
  background-color: grey;
  border-radius: 10px;
  width: 10px;
}
#hihihi::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 5px;
}
.thanhtoan-thongtin-sanpham-sanphammua{
  display: flex;
  margin: 20px;
  padding-left: 10px;
  padding-top: 10px;
}
.thanhtoan-thongtin-sanpham-sanphammua-giatien{
  display: block;
  width: 100%;
  margin: auto;
}
.thanhtoan-thongtin-sanpham-sanphammua-giatien>h6{
  font-weight: 700;
  font-size: 20px;
  width: 100%;
}
.h124{
  width: 100%;
}
#thanhtoan-thongtin-sanpham-img{
  width: 20%;
  height: auto;
  margin-right: 20px;
  border-radius: 10%
}
#thanhToan-MaGiamGia{
  padding-left: 30px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: inherit;
  font-style: italic;
}
#thanhToan-MaGiamGia-check{
  width: 95%;
  padding-left: 30px;
}
.ThanhToan-ThanhTien{
  width: 95%;
  padding-left: 30px;
}
#thanhToan-LoiNhan{
  /* position: absolute;
  bottom:100px; */
  width: 90%;
  margin-left: 30px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid grey
}
#thanhtoan-HoanTatDonHang{
  position: absolute;
  bottom: 5px;
  left: 0px;
  height: 50px;
  width: 90%;
  margin-left: 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #f58020
}
/* css top thanh toan the */
.top-ThanhToanThe{
  width: 60vw;
  height: 10vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 100px;
}
.top-img{
  width:30%;
  height: auto;
  float: left;
}
.top-img>img{
  width:20%;
  height: auto;
}
/*  css thank toan online */

.card{
  width: 60vw;
  height: 60vh;
  margin: auto;
}
.card>button{
  width: 100%;
  height: 50px;
  display: block;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
.card>button>p{
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
}

.new-card-form{
  width: 100%;
  display: block;

}
.c1>input{
  margin-bottom: 5px;
  width: 100%;
}
.card-p{
  font-size: 25px;
  padding-bottom: 0px;
  margin-bottom: 5px;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: bold;
}
.cardnumber{
  width: 100%;
  position: relative;
}

.cardnumber>input{
  width: 100%;
  position: relative;
}
.card-icon-ipnut{
  display: flex;
  position: absolute;
  top: 45px;
  right: 2%
}
.card-icon-ipnut>img{
  height: 50px
}
#ipc{
  border-radius: 5px;
  border:none;
  box-shadow: 2px 5px 5px -3px rgba(161,158,161,1);
  height: 60px;
  text-align: center;
  text-align: left;
}

#ipc.placeholder {
    text-align: center;
}
.CVC{
  width: 48%;
  margin-right: 4%  ;
}
.expiration{
  width: 48%;
}
.Country>select{
  width: 100%
}
