{% extends 'clothes/web_site/base.html' %}

{% block content %}
    {% load static %}
{#    <div class="top-ThanhToanThe">#}
{#        <div class="top-img">#}
{#            <img src="{% static 'clothes/site/img/home_icon.png' %}" alt="">#}
{##}
{#        </div>#}
{#        {% comment %}<h2> Thanh toán Online </h2>{% endcomment %}#}
{#        <div class="top-img">#}
{#            <img src="{% static 'clothes/site/img/undo_icon.png' %}" alt="">#}
{#        </div>#}
{#    </div>#}
    <h1> Thanh toán Online</h1>
    <div class="card">
{#        <div style="display: none" >#}
{#            <form action="." method="post" class="stripe-form">#}
{#                {% csrf_token %}#}
{#                <input type="hidden" name="use_default" value="true">#}
{#                <div class="stripe-form-row">#}
{#                    <button id="stripeBtn">Submit Payment</button>#}
{#                </div>#}
{#                <div id="card-errors" role="alert"></div>#}
{#            </form>#}
{#        </div>#}
        <div class="new-card-form" id="thetindung">
            <form method="post", class="" id="stripe-form" action=".">
                {% csrf_token %}
                <div class="cardnumber c1" id="card-element">
                    <div class="d-flex">
                      <i></i>
                      <p class="card-p">Card number</p>
                    </div>
                    <input type="text" name="" id="ipc" class="" placeholder="1234 1234 1234 1234 ">
                    <div class="card-icon-ipnut">
                      <!-- <i class="fa-brands fa-cc-visa"></i>
                      <i class="fa-brands fa-cc-mastercard" ></i>
                      <i class="fa-brands fa-cc-jcb"></i> -->
                      <img src="{% static 'clothes/site/img/bank_icon/visa (1).png' %}" alt="">
                      <img src="{% static 'clothes/site/img/bank_icon/ae.png' %}" alt="">
                      <img src="{% static 'clothes/site/img/bank_icon/maestro.png' %}" alt="">
                      <img src="{% static 'clothes/site/img/bank_icon/paypal.png' %}" alt="">
                    </div>
                </div>

                <button type="submit" class="btn btn-outline-secondary" style="margin: 2% 0 5% 20%; width: 60%"><p style="font-family: 'Roboto', sans-serif;
                font-size: 30px;">Thanh Toán</p></button>
            </form>
        </div>
    </div>
{% endblock %}
{% block extra_scripts %}

<script src="https://js.stripe.com/v3/"></script>
<script nonce="">  // Create a Stripe client.
  var stripe = Stripe('{{STRIPE_PUBLIC_KEY}}');

  // Create an instance of Elements.
  var elements = stripe.elements();

  // Custom styling can be passed to options when creating an Element.
  // (Note that this demo uses a wider set of styles than the guide below.)
  var style = {
    base: {
      color: '#32325d',
      fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
      fontSmoothing: 'antialiased',
      fontSize: '16px',
      '::placeholder': {
        color: '#aab7c4'
      }
    },
    invalid: {
      color: '#fa755a',
      iconColor: '#fa755a'
    }
  };

  // Create an instance of the card Element.
  var card = elements.create('card', {style: style});

  // Add an instance of the card Element into the `card-element` <div>.
  card.mount('#card-element');

  // Handle real-time validation errors from the card Element.
  card.addEventListener('change', function(event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  });

  // Handle form submission.
  var form = document.getElementById('stripe-form');
  form.addEventListener('submit', function(event) {
    event.preventDefault();

    stripe.createToken(card).then(function(result) {
      if (result.error) {
        // Inform the user if there was an error.
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        // Send the token to your server.
        stripeTokenHandler(result.token);
      }
    });
  });

  // Submit the form with the token ID.
  function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById('stripe-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);

    // Submit the form
    form.submit();
  }

  var currentCardForm = $('.new-card-form');
  var newCardForm = $('.new-card-form');
  var use_default_card = document.querySelector("input[name=use_default_card]");
  use_default_card.addEventListener('change', function() {
    if (this.checked) {
      newCardForm.hide();
      currentCardForm.show()
    } else {
      newCardForm.show();
      currentCardForm.hide()
    }
  })

</script>

{% endblock extra_scripts %}