{% extends 'clothes/web_site/base.html' %}
{% block extra_head %}
    <title>Đặt hàng</title>
{% endblock %}
{% block content %}
    <h1 style="display: block;; text-align: center">XÁC NHẬN THANH TOÁN GIỎ HÀNG</h1>
    <div class="main-QuanLyThongTin">

      <div class="QuanLyThongTin-ThongTinKhachHang"
      style="">
        <div id="TieuDe-QLTT">
          <h2 >Thông tin nhận hàng</h2>
          <hr>
        </div>
        {% if user%}
        <div class="QuanLyThongTin-ThongTinDiaChiKhachHang"
         style="margin-left: 40px;">
          <p>Họ Và Tên: {{user.name}} </p>
          <p>Số điện thoại: {{ user.phone_number}}</p>
          <p>Email: {{ user.email }}</p>
          <p>Địa chỉ nhận hàng:{{ object.shipping_address }}</p>
          <p>Thông tin thanh toán: {{ object.get_total}}</p><span></span>
          <p>Mã đơn hàng: {{ object.id }}</p><span></span>
        </div>
        {% endif %}
      </div>

      <div class="QuanLyThongTin-ThongTinSanPhamTrongGioHang"
           style=""
      >
        <h2 style="text-align: center;"> Danh mục sản phẩm</h2>
        <hr style="width: 80%;
        margin-left: 10%  ;">
        <div class="QuanLyThongTin-ThongTinSanPhamTrongGioHang-container" id="hihihi">
            {% for order_product in object.products.all%}
              <div class="warp-QLTT-TTSPTGH  d-flex">

                <img src="{{order_product.product.product_image.url}}" alt="" id="thanhtoan-thongtin-sanpham-img">
                <div class="ThongTinSanPhamTrongGioHang-ChiTietCacSanPham">
                    <h6 >{{order_product.product.product_name}}</h6>
                    <div class="d-flex">
                      <p>Số lượng: {{ order_product.quantity }}</p>
                      <p>Size:{{ order_product.size }}</p>
                      <p>Thành Tiền : {{ order_product.total }} VNĐ</p>
                    </div>
                </div>

              </div>
            {% endfor %}
        </div>
      </div>

    </div>
    <form action="", method="post">
        {% csrf_token %}
        <button type="submit" id="QuanLyThongTin-HoanTatDonHang" href="{% url 'clothes:confirm_checkout' %}"
        style=" font-size:20px"
        ><p style="margin:auto">HOÀN TẤT ĐƠN HÀNG</p></button>
        <style>
            #QuanLyThongTin-HoanTatDonHang:hover{
                 color: white;
                 font-weight: bold;}
        </style>
    </form>
    <a id="QuayLaiMuaSam" href="">Quay lại tiếp tục mua sắm</a>
<!--responsive-->
<style>
.QuanLyThongTin-ThongTinKhachHang{
width:30%;
margin-right: 10px;
margin-left: 20%;
}
.QuanLyThongTin-ThongTinSanPhamTrongGioHang{
width: 35%;
margin-right: 15%;
}
 @media all and (max-width:608px){
    .main-QuanLyThongTin{
    flex-direction: column;
    width: 100%;
    }
    .QuanLyThongTin-ThongTinSanPhamTrongGioHang{
     width: 90%;
     margin: 5%;
     padding: 0px;
     }
     .QuanLyThongTin-ThongTinKhachHang{
     width: 90%;
     margin: 5%;
     padding: 0px;
     }
     .QuanLyThongTin-HoanTatDonHang{
     width: 90%;
     }
 }
</style>
{% endblock %}