{% extends 'clothes/web_site/base.html' %}
{% block extra_head %}
    <title>Đơn hàng</title>
{% endblock %}
{% load cart_template_tags %}
{% block content %}
    {% load static %}
    <div class="DHDM-container">
        <h1>LỊCH SỬ ĐƠN HÀNG</h1>
        {% if order %}
            {% for i in user %}
                <div id="TenKhachHang">
                        <h5 style="">Khách hàng: {{ i.name }} - {{ i.phone_number }}</h5>
                </div>
            {% endfor %}
            {% for item in order %}
                <div class="DonHang-container">
                    <div class="DonHang-top">
                        <div class="DonHang-top-left">
                            <p>Ngày: </p>
                            <p>{{ item.ordered_date }}</p>
                        </div>
                        <div class="DonHang-top-right">
                            {% if item.ordered == False %}
                                <p>Chưa đặt hàng</p>
                                <i class="gg-close-o" style="  color: red;" ></i>
                            {% endif %}
                            {% if item.ordered == True %}
                                <p>Đã đặt hàng</p>
                                <i class="gg-check-o"></i>
                            {% endif %}
                            <span content="\007C">&#124;</span>
                            {% if item.payment_status == False %}
                                <p>Chưa giao hàng </p>
                                <i class="gg-close-o" style="  color: red; margin-right:0;" ></i>
                            {% endif %}
                            {% if item.payment_status == True %}
                                <p>Đã giao hàng </p>
                                <i class="gg-check-o" style=" margin-right:0;"></i>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    {% for sanpham in item.products.all %}
                    <div class="DonHang-conten-warp">
                            <div class="DonHang-conten">
                                <div class="d-flex">
                                    <img src="{{sanpham.product.product_image.url}}" alt="">
                                    <div class="DonHang-conten-if">
                                        <h2 style="font-size: 25px">{{ sanpham.product}}</h2>
                                        <h6>Đơn giá: {{ sanpham.product.product_price }}</h6>
                                        <h6>Số lượng: {{ sanpham.quantity }}</h6>
                                    </div>
                                </div>
                                <h3>
                                    {{sanpham.total|to_int}} VNĐ
                                </h3>
                            </div>
                        </div>
                    {% endfor %}
                    <hr />
                    <form action="" method="post" >
                        {% csrf_token %}
                        <div class="DonHang-end-warp">
                            <div class="DEW-A">
                                <div>
                                    <div style="float: left; margin: 2% 0 6.5% 0">
                                        <h2 id="DanhGia"> Đánh giá</h2>
                                        {% if item.feedback == None %}
                                            <input class="form-control me-2" type="text" placeholder="Phản hồi ý kiến của bạn tại đây nhé" style="display: block; width: 250%; margin-top: 14%; height: 40px;" name="danhgia">
                                        {% endif %}
                                        {% if item.feedback != None %}
                                            <input class="form-control me-2" type="text" value="{{ item.feedback }}" style="display: block; width: 250%; margin-top: 14%; height: 40px;" name="danhgia" >
                                        {% endif %}

                                    </div>
{#                                    <div class="rate">#}
{#                                        <input type="radio" id="5" name="rate" value="5" />#}
{#                                        <label for="5" title="text"></label>#}
{#                                        <input type="radio" id="4" name="rate" value="4" />#}
{#                                        <label for="4" title="text"></label>#}
{#                                        <input type="radio" id="3" name="rate" value="3" />#}
{#                                        <label for="3" title="text"></label>#}
{#                                        <input type="radio" id="2" name="rate" value="2" />#}
{#                                        <label for="2" title="text"></label>#}
{#                                        <input type="radio" id="1" name="rate" value="1" />#}
{#                                        <label for="1" title="text" ></label>#}
{#                                    </div>#}
                                </div>

                            </div>
                            <div class="DonHang-end">
                                <div class="DonHang-end-thanhtien">
                                    <i class="fa-solid fa-sack-dollar"></i>
                                    <p>TỔNG SỐ TIỀN:</p>
                                    <h4>{{ item.get_total|to_int}} VNĐ</h4>
                                </div>

                                <div class="DonHang-end-button">
                                    <input type="hidden" name="id_Don_hang" value="{{ item.id }}">
                                    {% if item.feedback == None %}
                                        <input type="submit" class="btn btn-outline-secondary" name="guidanhgia" value="Gửi Đánh giá" style="display: block; width: 40%; margin-right: 2%" />
                                    {% endif%}
                                    {% if item.payment_status == False %}
                                        <input type="submit" class="btn btn-warning" name="danhanhang" value="Đã nhận hàng" style="display: block; width: 40%"/>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            {% endfor %}
        {% endif %}
    </div>
<style>
#TenKhachHang>h5{
display: block;
margin-bottom: 2%;
text-align: center; \
}
#TenKhachHang{
width: 30%;
height: 5%;
border:0.5px solid black;
padding: 0.5%;
margin: 0 auto 2% auto;
box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
border-radius: 10px
}
.DonHang-container{
height:auto;
}
@media screen and (max-width:600px){
   #TenKhachHang>h5{
   width:80%
   }
   #TenKhachHang{
   width: 80%
   }
   .DonHang-top{
   height:80px;
   flex-direction: column;
   }
   .DonHang-top-right>p{
   font-size:12px;
   margin-left:2px;
   width:40%
   }
   .DonHang-top-right>i{
   margin-right: opx;
   }
   #DanhGia{
    text-align: center;
   }
   .rate{
   width:100%;
   margin:0px;
   justify-content: space-between;
   padding-right:20px;
   margin-bottom:15px
   }
   .DonHang-end-warp{
   height: 350px
   }
   .DonHang-end-thanhtien>h4{
   font-size:20px
   }
   .DonHang-end-thanhtien{
   margin-top:5px;
   }
}
</style>
{% endblock %}