{% extends 'clothes/web_site/base.html' %}
{% block extra_head %}
    <title>Giỏ Hàng</title>
{% endblock %}
{% load cart_template_tags %}
{% block content %}
    {% load static %}
    <div class="container-thanhtoan">
        <form action="", method="post">
            {% csrf_token %}
            <div class="tieude">
                <h1 class="TieuDe">THÔNG TIN THANH TOÁN</h1>
            </div>
            <div class="thanhtoan-informationgrap">
                <div class="thanhtoan-form-nhap">
                    <h3>THÔNG TIN KHÁCH HÀNG</h3>
                    <p style="opacity:0.7; color: grey">
                    Thông tin khách hàng được bảo mật</p>
                    <hr>
                    {% if user%}
                        <div class="input-group mb-3 d-flex justify-content-between ">
                            <h5>Họ và tên khách hàng  </h5>
                            <div class="forminpt">
                                {% if object.user.customer.name != None %}
                                    <input type="text" class="form-control" value="{{object.user.customer.name}}" aria-label="Username" aria-describedby="basic-addon1", name="ten_khachhang" required>
                                {% endif %}
                                {% if object.user.customer.name == None %}
                                    <input type="text" class="form-control" value="" aria-label="Username" aria-describedby="basic-addon1", name="ten_khachhang" required>
                                {% endif %}
                            </div>
                        </div>

                        <div class="input-group mb-3 d-flex justify-content-between ">
                            <h5>Email </h5>
                            <div class="forminpt">
                                {% if object.user.customer.email != None %}
                                    <input type="email" class="form-control" value="{{ object.user.customer.email}}" aria-label="Recipient's username" aria-describedby="basic-addon2" name="email_khachhang" required>
                                {% endif %}
                                {% if object.user.customer.email == None %}
                                    <input type="email" class="form-control" value="" aria-label="Recipient's username" aria-describedby="basic-addon2" name="email_khachhang" required>
                                {% endif %}
                            </div>
                        </div>

                        <div class="input-group mb-3 d-flex justify-content-between ">
                            <h5>Số điện thoại</h5>
                            <div class="forminpt">
                                <input type="number" class="form-control" value="{{ object.user.customer.phone_number}}" aria-label="Username" aria-describedby="basic-addon1" name="sdt_khachhang" required>
                            </div>
                        </div>
                        <div class="input-group mb-3 d-flex justify-content-between ">
                            <h5>Địa chỉ nhận hàng</h5>
                            <div class="forminpt">
                                {% if object.user.customer.address != None %}
                                    <input type="text" class="form-control" value="{{ object.user.customer.address}}" aria-label="Username" aria-describedby="basic-addon1" name="diachi_nhanhang" required>
                                {% endif %}
                                {% if object.user.customer.address == None %}
                                    <input type="text" class="form-control" value="" aria-label="Username" aria-describedby="basic-addon1" name="diachi_nhanhang" required>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    <h4>PHƯƠNG THỨC THANH TOÁN</h4>
                    <div class="thanhtoan-phuongThucThanhToan">
                        <div class="thanhtoan-phuongThucThanhToan-container">
                            <div class="form-check pt-4">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" required>
                                <label class="form-check-label" for="exampleRadios2"><h6>Thanh toán khi nhận hàng</h6></label>
                                <p class="justify"></p>
                            </div>
                            <div class="form-check pt-4">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" required>
                                <label class="form-check-label" for="exampleRadios2"><h6>Thanh toán online</h6></label>
{% comment %}                                <div class="justify" id="thanhToanNganHang" >
                                    <h6 class="thongtin-thanhtoan-chuyenkhoan">Ngân hàng: Vietcombank (VCB)</h6>
                                    <p class="thongtin-thanhtoan-chuyenkhoan">Số TK: 0451000213225</p>
                                    <p class="thongtin-thanhtoan-chuyenkhoan">Chi nhánh: Chi nhánh Thăng Long, PGD Lê Văn Lương, tòa nhà 18T2 Trung Hòa, Nhân Chính, Hà Nội</p>
                                    <p class="thongtin-thanhtoan-chuyenkhoan">Chủ TK: LÊ THI THANH HUYỀN</p>
                                    <h6 class="thongtin-thanhtoan-chuyenkhoan">Ngân hàng: Viettinbank (VTB)</h6>
                                    <p class="thongtin-thanhtoan-chuyenkhoan">Số TK: 106000253914</p>
                                    <p class="thongtin-thanhtoan-chuyenkhoan">Chi nhánh: Chi nhánh Thanh Xuân, Hà Nội</p>
                                    <p class="thongtin-thanhtoan-chuyenkhoan">Chủ TK: Lê Thị Thanh Huyền</p>
                                </div>{% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="thanhtoan-thongtin-sanpham">
                    <div class="thanhtoan-thongtin-sanpham-sanphammua-contianer">
                        {% if object %}
                            {% for order_product in object.products.all%}
                                <div class="thanhtoan-thongtin-sanpham-sanphammua">
                                    <img src="{{order_product.product.product_image.url}}" alt="" id="thanhtoan-thongtin-sanpham-img">
                                    <div class="thanhtoan-thongtin-sanpham-sanphammua-giatien">
                                        <h6 >{{order_product.product.product_name}}</h6>
                                        <div class="h124 d-flex justify-content-between">
                                                <div class=" " id="" style="">
                                                    <p>Số lượng:</p>
                                                    <form>
                                                        <input value="", type="hidden">
                                                    </form>
                                                    <form action="{% url 'clothes:remove_from_cart' order_product.product.pk %}", method="POST" enctype="multipart/form-data" >
                                                    {% csrf_token %}
                                                        <input value="{{ order_product.size }}" name="size_in_pay" type="hidden">
                                                        <input type="submit" value="-" class="button_up_down">
                                                    </form>
                                                    <h5 style="display: block; text-align: left; padding-left: 21%">{{ order_product.quantity }}</h5>
                                                    <form action="{% url 'clothes:add_single_to_cart' order_product.product.pk %}", method="POST" enctype="multipart/form-data" >
                                                    {% csrf_token %}
                                                        <input value="{{ order_product.size }}" name="size_in_pay" type="hidden">
                                                        <input type="submit" value="+" class="button_up_down">
                                                    </form>
                                                </div>
                                            </p>
                                            <p>Size: {{ order_product.size }}</p>
                                            <h5>{{ order_product.total|to_int }} VNĐ</h5>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if not object %}
                            <div style="margin-left: 20%">
                                <h5>Bạn chưa có sản phẩm trong giỏ hàng</h5>
                            </div>
                        {% endif %}
                    </div>
                    <hr style="width: 90%; margin-left:30px">



                    <div class="ThanhToan-ThanhTien">
                        <div class=" d-flex justify-content-between">
                            <h6>Tiền hàng tạm tính:</h6>
                            <h6>{{ object.get_total|to_int}} VNĐ</h6>

                        </div>
                        <div class="d-flex justify-content-between">
                            <h6>Phí Vận Chuyển</h6>
                            <h6>  0 VNĐ</h6>
                        </div>
                        <hr >
                        <div class="d-flex justify-content-between">
                            <h4>Cần thanh toán</h4>
                            <h4>{{ object.get_total|to_int}} VNĐ</h4>
                        </div>
                    </div>
                    <button type="submit" id="thanhtoan-HoanTatDonHang"><p style="margin:auto">HOÀN TẤT ĐƠN HÀNG</p></button>
                </div>
            </div>

        <!-- ..................... -->

        </form>
    </div>
{% endblock %}