{% extends 'clothes/web_site/base.html' %}

{% block content %}
    {% load static %}
    {% if search_data %}
        <div style="background: rgba(173,168,168,0.35); padding: 1%; margin: 2% 2% 2% 2%; border-radius: 8px ">
            <div style="background: rgba(60,141,255,0.38); height: 50px; width: 40%; margin:2% 0 0 30%; border-radius: 5px; padding: 0.5%  ">
                <H2 style="text-align: center;">Sản phẩm bạn muốn tìm</H2>
            </div>
            {%  for match_data in match_data %}
                <div class ="card" style="border-radius: 20px; overflow: hidden; background-color: white; box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; width: 20%; margin: 2% 0 2% 2%;">
                    <img style="%" src="{{match_data.product_image.url}}" alt="" class="card-image" />
                    <div class="card-content">
                        <h5 style="text-align: center; margin-top: 0.5%"><a href="{% url 'clothes:product_detail' match_data.pk %}" style="text-decoration: none">{{match_data.product_name}}</a></h5>
                    </div>
                </div>
            {%  endfor %}
        </div>
    {%  endif %}
{% endblock %}