{% extends 'clothes/web_site/base.html' %}

{% block content %}
    <div class="contai" id="cnt">
          <div class="conten-inf">
              <h1>WELCOME TO THC-Fashion</h1>
              <p>Dịch vụ của THC không chỉ đơn giản là thái độ phục vụ của nhân viên tư vấn bán hàng mà thể hiện thông qua các sản phẩm THC – đây không chỉ là quần áo mà còn là toàn bộ tình yêu, nhiệt huyết của toàn thể các thành viên THC từ các nhà thiết kế đẳng cấp, chuyên gia cắt, may mẫu, tới các chị gấp sản phẩm hoàn thiện nó</p>
          </div>
          <div class="login">
              <form action="", method="post">
                  {% csrf_token %}
                  <div class="dangnhap">
                      <h1>Đổi mật khẩu</h1>
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" name="new_password" required="required" placeholder="Password">
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Re Confirm Password</label>
                      <input type="password" class="form-control" name="confirm_password" required="required" placeholder="ReConfirm Password">
                  </div>
                  <input type="hidden" name="user_id" value="{{ user_id }}">
                  <div class="bt-lg">
                      <button type="submit" class="btn btn-info" ><h4>Đổi mật khẩu</h4></button>
                  </div>
                </form>
          </div>
    </div>
{% if alert_flag1 %}
    <script>alert("No user id found")</script>
{% endif %}

{% if alert_flag2 %}
    <script>alert("Both should be equal")</script>
{% endif %}
{% endblock%}