{% extends 'clothes/web_site/base.html' %}

{% block content %}
    <div class="contai" id="cnt">
        <div class="conten-inf">
            <h1>WELCOME TO THC-Fashion</h1>
            <p>Dịch vụ của THC không chỉ đơn giản là thái độ phục vụ của nhân viên tư vấn bán hàng mà thể hiện thông qua các sản phẩm THC – đây không chỉ là quần áo mà còn là toàn bộ tình yêu, nhiệt huyết của toàn thể các thành viên THC từ các nhà thiết kế đẳng cấp, chuyên gia cắt, may mẫu, tới các chị gấp sản phẩm hoàn thiện nó</p>
        </div>
        <div class="login">
            <form action="", method="post">
                {% csrf_token %}
                <div class="dangnhap">
                    <h1>Lấy Lại mật khẩu</h1>
                </div>
                <div class="mb-3">
                    <p id="h5login"><a href="{% url 'clothes:login' %}">Quay lại đăng nhập</a></p>
                    <label for="exampleInputEmail1" class="form-label">User Name</label>
                    <input type="text" class="form-control" name="user_name" aria-describedby="emailHelp" required="required" placeholder="Username">
                </div>

                <div class="bt-lg">
                    <button type="submit" class="btn btn-info" ><h4>Lấy mật khẩu</h4></button>
                </div>
            </form>
        </div>
    </div>

{% endblock%}