{% extends 'clothes/admin_site/admin_base.html' %}

{% block admin_content %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Thêm người dùng</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'clothes:admin_view' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Thêm người dùng</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Add User
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h6>{{ form.as_p }}</h6>
                    <input type="submit" value="Save" />
                </form>
            </div>
        </div>
    </div>
{% endblock%}